@import url('https://fonts.googleapis.com/css?family=Roboto:wght@800|Raleway:wght@100;300;400;600;800|Press+Start+2P&display=swap');

/*CSS var*/
:root {
	--primary-color : #00C7C7;
	--primary-color-d1 : #00B3B3;
	--primary-dark-color : #252934;/* #152638;*/
	--primary-dark-color-d2: #344457;
	--primary-dark-color-d1 : #1b242f;
	--primary-light-color : #cce0e0;
	--primary-light-color-d1 :#acdada;
	--accent-color : #C90000;
	--secondary-color : #E9ECEF;
	--secondary-dark-color : #525252;
	--muted-color : #AAA;
	--muted-color-light : #e9ecef;
	--success-color : #1DBF42;
	--success-dark-color : #28A745;
	--error-color : #FA3447;
	--error-dark-color : #DC3545;

	--google-color : #4285F4;
	--google-light-color : #5999FF;
	--cisco-color : #76BD52;
	--cisco-light-color : #91DB6B;
	--atlassian-color : #0052CC;
	--atlassian-light-color : #1667E0;
	--udemy-color-1 : #EA5356;
	--udemy-light-color-1 : #FF5E62;
	--udemy-color-2 : #A240ED;
	--udemy-light-color-2 : #AB44FA;

	--black : #000000;
}

* { box-sizing: border-box; padding: 0px; margin: 0px; font-family: 'Raleway', sans-serif; }
html, body { height: 100%; width: 100%; }
a { text-decoration: none !important; }
.outer-wrapper { position: fixed !important; width: 100%; height: 100%; z-index: 1000; }
.outer-container { width: 100%; height: 100%; }

/*font family*/
.font-fam-1 { font-family: 'Raleway', sans-serif !important; }
.font-fam-2 { font-family: 'Roboto', sans-serif !important; }
.font-fam-3 { font-family: 'Press Start 2P', cursive !important; }

/*font size*/
.text-xs { font-size: 14px !important; }
.text-s { font-size: 16px !important; }
.text-m { font-size: 24px !important; }
.text-ml { font-size: 30px !important; }
.text-l { font-size: 35px !important; }
.text-xl { font-size: 45px !important; }

/*text-align*/
.vertical-align-middle { vertical-align: -webkit-middle !important; vertical-align: middle !important; }

/*colors*/
.m-color-primary { color: var(--primary-color) !important; }
.m-color-primary-d1 { color: var(--primary-color-d1) !important; }
.m-color-primary-dark { color: var(--primary-dark-color) !important; }
.m-color-primary-light { color: var(--primary-light-color) !important; }
.m-color-secondary { color: var(--secondary-color) !important; }
.m-color-accent { color: var(--accent-color) !important; }
.m-color-secondary-dark { color: var(--secondary-dark-color) !important; }
.m-color-muted { color: var(--muted-color) !important; }
.m-color-success { color: var(--success-color) !important; }
.m-color-success-dark { color: var(--success-dark-color) !important; }
.m-color-error { color: var(--error-color) !important; }
.m-color-error-dark { color: var(--erorr-dark-color) !important; }
.m-color-google { color: var(--google-color) !important; }
.m-color-google-light { color: var(--google-light-color) !important; }
.m-color-cisco { color: var(--cisco-color) !important; }
.m-color-cisco-light { color: var(--cisco-light-color) !important; }
.m-color-atlassian { color: var(--atlassian-color) !important; }
.m-color-atlassian-light { color: var(--atlassian-light-color) !important; }
.m-color-udemy-1 { color: var(--udemy-color-1) !important; }
.m-color-udemy-light-1 { color: var(--udemy-light-color-1) !important; }
.m-color-udemy-2 { color: var(--udemy-color-2) !important; }
.m-color-udemy-light-2 { color: var(--udemy-light-color-2) !important; }

/*background colors*/
.m-bg-primary { background-color: var(--primary-color) !important; }
.m-bg-primary-d1 { background-color: var(--primary-color-d1) !important; }
.m-bg-primary-dark { background-color: var(--primary-dark-color) !important; }
.m-bg-primary-light { background-color: var(--primary-light-color) !important; }
.m-bg-primary-light-d1 { background-color: var(--primary-light-color-d1) !important; }
.m-bg-primary-dark-d1 { background-color: var(--primary-dark-color-d1) !important; }
.m-bg-secondary { background-color: var(--secondary-color) !important; }
.m-bg-accent { background-color: var(--accent-color) !important; }
.m-bg-secondary-dark { background-color: var(--secondary-dark-color) !important; }
.m-bg-white { background-color: var(--white) !important; }
.m-bg-black { background-color: var(--black) !important;}
.m-bg-muted { background-color: var(--muted-color) !important; }
.m-bg-muted-light { background-color: var(--muted-color-light) !important; }
.m-bg-success { background-color: var(--success-color) !important; }
.m-bg-success-dark { background-color: var(--success-dark-color) !important; }
.m-bg-error { background-color: var(--error-color) !important; }
.m-bg-error-dark { background-color: var(--error-dark-color) !important; }
.m-bg-google { background-color: var(--google-color) !important; }
.m-bg-google-light { background-color: var(--google-light-color) !important; }
.m-bg-cisco { background-color: var(--cisco-color) !important; }
.m-bg-cisco-light { background-color: var(--cisco-light-color) !important; }
.m-bg-atlassian { background-color: var(--atlassian-color) !important; }
.m-bg-atlassian-light { background-color: var(--atlassian-light-color) !important; }
.m-bg-udemy-1 { background-color: var(--udemy-color-1) !important; }
.m-bg-udemy-light-1 { background-color: var(--udemy-light-color-1) !important; }
.m-bg-udemy-2 { background-color: var(--udemy-color-2) !important; }
.m-bg-udemy-light-2 { background-color: var(--udemy-light-color-2) !important; }

/*background gradients*/
.m-bg-primary-light-gl { background-image: linear-gradient(150deg, var(--primary-light-color) 10%, #FFFFFF 80%) !important; }
.m-bg-primary-light-gr { background-image: linear-gradient(210deg, var(--primary-light-color) 10%, #FFFFFF 80%) !important; }
.m-bg-primary-light-glr { background-image: linear-gradient(to bottom, var(--primary-light-color), #FFFFFF, var(--primary-light-color)) !important; }
.m-bg-primary-dark-glr { background-image: linear-gradient(to bottom, #000, #222, #000) !important; }

/*buttons*/
.m-btn { padding: 7px; background-color: transparent; transition: all 0.3s; cursor: pointer; }
.m-btn-primary { border: 1px solid var(--primary-color) !important; }
.m-btn-accent { border: 1px solid var(--accent-color) !important; }
.m-btn-secondary { border: 1px solid var(--secondary-color) !important; }
.m-btn-secondary-dark { border: 1px solid var(--secondary-dark-color) !important; }
.m-btn-white { border: 1px solid var(--white) !important; }
.m-btn:hover { background-color: var(--primary-color) !important; border-color: transparent !important; }

/*navbar*/
.navbar-container { z-index: 999 !important; top: 0px; left: 0px; }
.navbar { padding: .5rem 3.5rem .3rem 3.5rem; }
.nav-item { cursor: pointer; transition: color 0.3s; color: var(--muted-color); }
.nav-item:hover { color: var(--white); }

/*progress bar*/
.progress { border-radius: 0px; }
.progress, .progress-bar, .progress-bar-title{ height: 27px; }

/*model*/
.m-model {top: 5%; left: 0; right: 0; }
.m-model-hide { filter: blur(30px); -webkit-filter: blur(30px); }

/*opacity*/
.opacity-0 { opacity: 0 !important; }
.opacity-05 { opacity: 0.5 !important; }
.opacity-1 { opacity: 1 !important; }

#section-1-container { transition: background-color 4s; }
#view-work { border: 2px solid; z-index: 2; }
#rotating-arrow { transition: all 0.3s; }
#dp { height: 275px; width: 250px; -webkit-box-shadow: 1px 3px 6px 3px var(--muted-color); -moz-box-shadow: 1px 3px 6px 3px var(--muted-color); -o-box-shadow: 1px 3px 6px 3px var(--muted-color); box-shadow: 1px 3px 6px 3px var(--muted-color); transition: all 0.3s; }
#dp:hover { transform: rotate(3deg); }
#contact-submit-btn:hover { background-color: var(--primary-color); border: 1px solid var(--primary-color); }
.m-btn:hover #rotating-arrow { transform: rotate(90deg); }
.section-container { min-height: 100%; }
.cursor-pointer { cursor: pointer !important; }
.m-badge { transform: rotate(45deg); display: inline-block; width: 80px; height: 80px; }
.m-badge-content { transform: rotate(-45deg) ; }
.m-shadow { -webkit-box-shadow: 1px 3px 6px 3px var(--muted-color); -moz-box-shadow: 1px 3px 6px 3px var(--muted-color); -o-box-shadow: 1px 3px 6px 3px var(--muted-color); box-shadow: 1px 3px 6px 3px var(--muted-color); }
.text-shadow-primary:hover { -webkit-text-shadow: 0px 0px 7px var(--primary-color-d1); -moz-text-shadow: 0px 0px 7px var(--primary-color-d1); -o-text-shadow: 0px 0px 7px var(--primary-color-d1); text-shadow: 0px 0px 7px var(--primary-color-d1); }
.scale { transition: all 0.3s;}
.scale:hover { transform: scale(1.1,1.1) !important; }
.hover-shadow { transition: all 0.2s;}
.hover-shadow:hover { -webkit-box-shadow: 1px 3px 6px 3px var(--muted-color); -moz-box-shadow: 1px 3px 6px 3px var(--muted-color); -o-box-shadow: 1px 3px 6px 3px var(--muted-color); box-shadow: 1px 3px 6px 3px var(--muted-color); }
.education-container { transition: all 0.4s; -webkit-box-shadow: 1px 3px 6px 3px var(--muted-color); -moz-box-shadow: 1px 3px 6px 3px var(--muted-color); -o-box-shadow: 1px 3px 6px 3px var(--muted-color); box-shadow: 1px 3px 6px 3px var(--muted-color); }
.education-container:hover { -webkit-box-shadow: 1px 3px 10px 4px var(--primary-color-d1); -moz-box-shadow: 1px 3px 10px 4px var(--primary-color-d1); -o-box-shadow: 1px 3px 10px 4px var(--primary-color-d1); box-shadow: 1px 3px 10px 4px var(--primary-color-d1); }
.certificate-container:hover { -webkit-box-shadow: 1px 3px 10px 4px var(--primary-color-d1); -moz-box-shadow: 1px 3px 10px 4px var(--primary-color-d1); -o-box-shadow: 1px 3px 10px 4px var(--primary-color-d1); box-shadow: 1px 3px 10px 4px var(--primary-color-d1); }
.certificate-badge { width: 180px; height: 180px; border-radius: 2px; padding: 10px; -webkit-box-shadow: 1px 3px 6px 3px var(--muted-color); -moz-box-shadow: 1px 3px 6px 3px var(--muted-color); -o-box-shadow: 1px 3px 6px 3px var(--muted-color); box-shadow: 1px 3px 6px 3px var(--muted-color); border: 1px solid #777; background-color: #fffcf8; }
.hover-white:hover { color: var(--white) !important; }
.clearfix { clear: both !important; }
.portfolio-card-model { height: 330px; width: 250px; }
.portfolio-card { height: 330px; flex: 0 0 250px; box-shadow: 0px 0px 10px 1px var(--black); }
.portfolio-card-model { box-shadow: 0px 0px 10px 1px var(--gray); border-radius: 13px; }
.portfolio-hover { opacity: 0; background-color: var(--white); top: 40%; left: 0%; }
.portfolio-bg, .portfolio-hover { transition: all 0.3s; }
.portfolio-card:hover .portfolio-bg { filter: blur(2px); -webkit-filter: blur(2px); }
.portfolio-card:hover .portfolio-hover { opacity: 1; }
.contact-title-container { border-radius: 1px 0px 0px 1px; width: 100px; }
.contact-info-container { width: 500px; border-radius: 0px 1px 1px 0px; }
.padding-100 { padding: 100px !important; }
.padding-100-x { padding-left: 100px !important; padding-right: 100px !important; }
.dialog-box { top: 0; left: 0; }
.circle { border-radius: 100% !important; }
.orbit { /*border: 1.2px solid var(--primary-dark-color-d2);*/ }
.planet { transition: 2s; z-index: 1; }
#double-up { width: 40px; height: 40px; top: -20px; left: 48%; }
#double-up:hover { transform: scale(1.1,1.1) !important; }

/*medium width devices*/
@media screen and (max-width: 1200px) and (min-width: 601px) {
	.text-xs { font-size: 13px !important; }
	.text-s { font-size: 18px !important; }
	.text-m { font-size: 25px !important; }
	.text-ml { font-size: 30px !important; }
	.text-l { font-size: 35px !important; }
	.text-xl { font-size: 45px !important; }
	.progress, .progress-bar, .progress-bar-title{ height: 22px; }
	.contact-info-container { width: 300px; }
	.padding-100 { padding: 50px !important; }
	.padding-100-x { padding-left: 30px !important; padding-right: 30px !important; }
	.portfolio-card-model { height: 250px; width: 200px; }

	#dp { height: 220px; width: 200px; }
	#double-up { left: 47%; }
}

/*small width devices*/
@media screen and (max-width: 600px) and (min-width: 401px) {
	.contact-title-container { border-radius: 0px; }
	.contact-info-container { border-radius: 0px; }

	.text-xs { font-size: 11px !important; }
	.text-s { font-size: 15px !important; }
	.text-m { font-size: 22px !important; }
	.text-ml { font-size: 25px !important; }
	.text-l { font-size: 30px !important; }
	.text-xl { font-size: 35px !important; }
	.navbar-container { top: 0px; }
	.progress, .progress-bar, .progress-bar-title{ height: 22px; }
	.contact-info-container { width: 250px; }
	.padding-100 { padding: 10px !important; }
	.padding-100-x { padding-left: 10px !important; padding-right: 10px !important; }
	.portfolio-card { height: 250px; flex: 0 0 200px; }
	.portfolio-card-model { height: 250px; width: 200px; }

	#dp { height: 220px; width: 200px; }
	#double-up { left: 46%; }
}

/*extra small width devices*/
@media screen and (max-width: 400px) {
	.contact-title-container { border-radius: 0px; }
	.contact-info-container { border-radius: 0px; }

	.text-xs { font-size: 10px !important; }
	.text-s { font-size: 14px !important; }
	.text-m { font-size: 18px !important; }
	.text-ml { font-size: 21px !important; }
	.text-l { font-size: 25px !important; }
	.text-xl { font-size: 30px !important; }
	.navbar-container { top: 0px; }
	.progress, .progress-bar, .progress-bar-title{ height: 22px; }
	.padding-100 { padding: 10px !important; }
	.padding-100-x { padding-left: 5px !important; padding-right: 5px !important; }
	.portfolio-card { height: 250px; flex: 0 0 200px; }
	
	#dp { height: 188px; width: 170px; }
	.contact-info-container { width: auto; padding: 5px; }
	#double-up { left: 45%; }
}

/*boostrap - small(<992px)*/
@media screen and (max-width: 991px) {
	.m-col-s-0 { display: none !important; }
}










